*{
    padding: 0;
    margin: 0;
}

#all{
    width: 100%;
    max-width: 750px;
    overflow: hidden;
    
    .page-header{
            width: 100%;
            height: 623px;
            background-size: 100% 100%;
            background-image: url(../image/banner-index.jpg);
            background-repeat: no-repeat;
    }
    .page-main{
        height: 460px;
        position: relative;
        background-color: #f5f6fa;
    
        .item-wrap{
            position: absolute;
            top: -20%;
            left: 50%;
            transform: translateX(-50%);
            background: #ffffff;
            border-radius: 20px;
            box-shadow: 0 0 40px 0 #cbdcf5;
            width: 89%;
    
            .item{
                position: relative;
                font-size: 26px;
                padding: 0 90px 0 32px;
                height: 80px;
                line-height: 80px;
                white-space:nowrap;
                overflow: hidden;
                text-overflow:ellipsis;
                border-bottom: 1px solid #d9dfeb;
    
                &:last-of-type{
                    border-bottom: none;
                }
    
                &::after{
                    position: absolute;
                    top: 50%;
                    right: 4%;
                    transform: translateY(-50%);
                    display: block;
                    content: '';
                    width: 20px;
                    height: 32px;
                    background: url(../image/icon-next.jpg) no-repeat center;
                }
            }
        }
    }
    .page-footer{
        width: 100%;
        height: 98px;
        position: fixed;
        max-width: 750px;
        left: 0;
        bottom: 0;
        background-color: #ffffff;
        box-shadow: 0 0 10px 0 #fff;
        .tag{
            height: 100%;
            display: flex;
            list-style: none;
            justify-content: space-around;
            align-items: center;
    
            .tag-btn{
                display: block;
                width: 56px;
                height: 56px;
                background: url(../image/indexTag.jpg) no-repeat center;
    
                &.record{
                    background: url(../image/recordTag.jpg) no-repeat center;
                }
                &.user{
                    background: url(../image/userTag.jpg) no-repeat center;
                }
            }
        }
    }
}