
#all{
    width: 100%;
    max-width: 750px;
    overflow: hidden;
    
    .page-header{
        width: 100%;
        height: 570px;
        background-image: url(../image/login-header.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .page-main{
        width: 100%;
        min-height: 530px;
        
        position: relative;
        .login-box{
            position: absolute;
            left: 50%;
            top: -10%;
            transform: translateX(-50%);
            width: 89%;
            box-sizing: border-box;
            background-color: #fff;
            box-shadow: 0 0 40px 0 #cfe1f8;
            padding: 30px 50px 56px 50px;
        
            .input-wrap{
                width: 100%;
                position: relative;
        
                &:nth-child(1){
                    margin-bottom: 20px;
                }
                &:nth-child(2){
                    margin-bottom: 80px;
                }
                input{
                    box-sizing: border-box;
                    border: none;
                    border-bottom: 1px solid #000;
                    width: 100%;
                    height: 120px;
                    font-size: 28px;
                }
                .code{
                    width: 32%;
                    position: absolute;
                    top: 50%;
                    right: 0%;
                    font-size: 28px;
                    transform: translateY(-50%);
                    height: 80px;
                    line-height: 80px;
                    text-align: center;
                    color: #4a88eb;
                    border: 2px solid #4a88eb;
                }
            }
        
            .btn-login{
                width: 100%;
                line-height: 100px;
                color: #ffffff;
                text-align: center;
                font-size: 28px;
                background-color: #4a88eb;
            }
            .btn-password{
                width: 100%;
                margin-top: 52px;
                font-size: 26px;
                color: #4a88eb;
                text-align: center;
            }
        }
    }
    .page-footer{
        z-index: -10;
        width: 100%;
    }
}