* {
  padding: 0;
  margin: 0;
}

#all {
  width: 100%;
  max-width: 750px;
  overflow: hidden;
}

#all .page-header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#all .page-header .pic-box {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#all .page-header .kong {
  margin-top: 126px;
}

#all .nav {
  width: 100%;
}

#all .nav .tag-list {
  list-style: none;
  height: 100px;
}

#all .nav .tag-list .tag-item {
  float: left;
  font-size: 30px;
  margin-left: 30px;
  line-height: 100px;
}

#all .nav .tag-list .tag-item.active {
  color: #4a88eb;
}

#all .nav .tag-list .tag-item + .tag-item {
  margin-left: 60px;
}

#all .page-main {
  overflow: hidden;
  width: 100%;
  background-color: #f5f6fa;
}

#all .page-main .section {
  width: 100%;
  margin: 30px 0;
  background-color: #ffffff;
}

#all .page-main .section .content {
  position: relative;
  padding: 30px 0 30px 30px;
  border-bottom: 1px solid #d9dfeb;
}

#all .page-main .section .content::after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  width: 20px;
  height: 32px;
  background: url(../image/icon-next.jpg) no-repeat center;
}

#all .page-main .section .content h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#all .page-main .section .content p {
  font-size: 26px;
  color: #b5b5b5;
}

#all .page-main .section .data {
  margin-right: 30px;
  text-align: right;
  line-height: 66px;
  font-size: 26px;
  color: #b5b5b5;
}
